.grey-fon {
  background-color: gainsboro;
  /*height: 90%;*/
  width: 100%;
  position: relative;
  /*z-index: -5;*/
}
.container-slider-topsales {
  content: " ";
  width: 85%;
  padding-top: 2%;
  padding-bottom: 5%;

  /* border: 2px solid black;*/
  margin: auto;
  overflow: hidden;
}
.container-one-image {
  content: " ";
  width: 85%;
  padding-top: 2%;
  padding-bottom: 5%;
  /*border: 2px solid black;*/
  margin: auto;
  overflow: hidden;
}
.slider-one {
  width: 100%;
  position: relative;
  height: 70vh;
  /*z-index: -2;*/
  margin: 0;
  left: 0;
  overflow: hidden;
}

/****************   Slider-show   *****************/
.radio-2 {
  margin-top: 20%;
}
.slider-top {
  overflow: hidden;
}

.slider-top .figure {
  width: 500%;
  position: relative;
  height: 70vh;
  /* z-index: -2;*/
  margin: 0;
  left: 0;
  animation: 20s slider-top infinite;
}
.slider-top .figure .background-image-sl-top {
  float: left;
  width: 20%;
  /* height: 100%;*/
}

.background-image-sl-top {
  cursor: pointer;
  content: "";
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.temp-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4%;
  height: 100%;
}

@keyframes slider-top {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.nnn {
  position: relative;
  left: 47%;
  top: 10px;
}
.nnn2 {
  position: absolute;
  top: -0.01px;
  transform: translateX(100%);
  animation: 20s nnm infinite;
}
@keyframes nnm {
  0% {
    transform: translateX(0%);
  }
  24.99% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(100%);
  }
  49.9% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(200%);
  }
  74.99% {
    transform: translateX(200%);
  }
  75% {
    transform: translateX(300%);
  }
  99.9% {
    transform: translateX(300%);
  }

  100% {
    transform: translateX(400%);
  }
}
/************************************/
