/****************   Slider-show   *****************/

.container-slider {
  margin: 2% auto;
  margin-top: 5%;
  width: 80%;
  overflow: hidden;
}
.slider {
  overflow: hidden;
}
.slider figure {
  position: relative;
  width: 900%;

  height: 65vh;
  z-index: -2;
  margin: 0;
  left: 0;
  animation: 40s slider infinite;
}
.slider figure div {
  float: left;
  width: 11.1111111111111%;
  /* height: 100%;*/
}

.background-image-sl {
  cursor: pointer;
  content: "";
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* .sl {
  text-indent: -10000px;
}
.sl1 {
  background: url("img1/img1.jpg") no-repeat center;
}
.sl2 {
  background: url("img1/img2.jpg") no-repeat center;
}
.sl3 {
  background: url("img1/img3.jpg") no-repeat center;
}
.sl4 {
  background: url("img1/img4.jpg") no-repeat center;
}
.sl5 {
  background: url("img1/img5.jpg") no-repeat center;
} */
@keyframes slider {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  13% {
    left: -100%;
  }
  23% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  35% {
    left: -200%;
  }
  38% {
    left: -300%;
  }
  48% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  60% {
    left: -400%;
  }
  63% {
    left: -500%;
  }
  73% {
    left: -500%;
  }
  75% {
    left: -600%;
  }
  85% {
    left: -600%;
  }
  88% {
    left: -700%;
  }
  98% {
    left: -700%;
  }
  100% {
    left: -800%;
  }
}
.slider1 {
  overflow: hidden;
  position: relative;
  width: 900%;

  z-index: -2;
  margin: 0;
  left: 0;
  animation: 40s slider infinite;
}
.par {
  float: left;
  width: 11.1111111111111%;
  height: 100%;
  background: white;
}
.par1 {
  font-size: 1.2rem;
}
.par2 {
  font-family: "Comfortaa";
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.7rem;
}
